#stars {
  width: 1px;
  height: 3px;
  background: transparent;
  box-shadow: 1212px 345px #eee, 1312px 1678px #eee, 1686px 1832px #eee,
    648px 1279px #eee, 577px 847px #eee, 278px 415px #eee, 233px 866px #eee,
    954px 1491px #eee, 627px 769px #eee, 782px 1613px #eee, 328px 1333px #eee,
    811px 1057px #eee, 716px 817px #eee, 1181px 910px #eee, 1779px 686px #eee,
    530px 339px #eee, 1486px 1840px #eee, 1819px 1029px #eee, 1951px 683px #eee,
    1924px 1827px #eee, 1647px 1019px #eee, 202px 1801px #eee, 1396px 85px #eee,
    651px 1131px #eee, 641px 1196px #eee, 1196px 1659px #eee, 1683px 480px #eee,
    1516px 1716px #eee, 1670px 161px #eee, 1371px 323px #eee, 1529px 1790px #eee,
    1740px 257px #eee, 828px 750px #eee, 706px 235px #eee, 1447px 1872px #eee,
    1448px 820px #eee, 1162px 900px #eee, 86px 1013px #eee, 319px 521px #eee,
    906px 1635px #eee, 1462px 1938px #eee, 621px 553px #eee, 1392px 1786px #eee,
    66px 1603px #eee, 1091px 1650px #eee, 262px 1807px #eee, 1840px 1209px #eee,
    1407px 142px #eee, 1407px 364px #eee, 1920px 489px #eee, 1121px 1203px #eee,
    1074px 1541px #eee, 1780px 1564px #eee, 1513px 1145px #eee, 680px 29px #eee,
    823px 1244px #eee, 1673px 1165px #eee, 810px 344px #eee, 1820px 255px #eee,
    1120px 1502px #eee, 1641px 952px #eee, 1891px 38px #eee, 946px 1544px #eee,
    1176px 1356px #eee, 18px 1220px #eee, 1719px 724px #eee, 881px 665px #eee,
    975px 1205px #eee, 14px 1642px #eee, 674px 1927px #eee, 1829px 846px #eee,
    81px 1148px #eee, 1464px 618px #eee, 576px 524px #eee, 14px 1169px #eee,
    935px 990px #eee, 1941px 288px #eee, 1010px 1434px #eee, 196px 519px #eee,
    1247px 1468px #eee, 362px 671px #eee, 120px 77px #eee, 854px 1091px #eee,
    254px 775px #eee, 1825px 1751px #eee, 707px 1305px #eee, 1458px 1561px #eee,
    1635px 1281px #eee, 969px 283px #eee, 314px 240px #eee, 1217px 141px #eee,
    1258px 584px #eee, 157px 979px #eee, 780px 44px #eee, 1956px 437px #eee,
    978px 1435px #eee, 864px 1276px #eee, 1292px 493px #eee, 67px 1460px #eee,
    145px 1482px #eee, 1748px 1611px #eee, 893px 1173px #eee, 602px 921px #eee,
    72px 613px #eee, 1802px 606px #eee, 6px 903px #eee, 1702px 183px #eee,
    1193px 1674px #eee, 181px 1720px #eee, 778px 1936px #eee, 1590px 1965px #eee,
    78px 1939px #eee, 1963px 1785px #eee, 1051px 693px #eee, 1398px 308px #eee,
    1676px 1778px #eee, 2px 646px #eee, 1285px 93px #eee, 1069px 742px #eee,
    768px 1242px #eee, 807px 1001px #eee, 720px 567px #eee, 1660px 1168px #eee,
    1179px 1599px #eee, 889px 241px #eee, 1433px 1060px #eee, 853px 1533px #eee,
    642px 1628px #eee, 1629px 958px #eee, 1350px 147px #eee, 17px 915px #eee,
    275px 1991px #eee, 361px 484px #eee, 90px 109px #eee, 1856px 663px #eee,
    1133px 1613px #eee, 898px 98px #eee, 632px 1634px #eee, 281px 254px #eee,
    1100px 1789px #eee, 561px 1567px #eee, 248px 1297px #eee, 250px 900px #eee,
    1181px 1385px #eee, 62px 1504px #eee, 873px 573px #eee, 758px 567px #eee,
    1100px 589px #eee, 1675px 1447px #eee, 1725px 1227px #eee, 11px 941px #eee,
    1817px 1145px #eee, 276px 1542px #eee, 1360px 799px #eee, 1233px 726px #eee,
    576px 486px #eee, 373px 616px #eee, 1011px 1642px #eee, 873px 406px #eee,
    1278px 758px #eee, 1261px 886px #eee, 1634px 249px #eee, 1302px 1326px #eee,
    1803px 1132px #eee, 1345px 103px #eee, 1146px 314px #eee, 1487px 421px #eee,
    700px 838px #eee, 1080px 303px #eee, 849px 107px #eee, 815px 916px #eee,
    1597px 1724px #eee, 620px 269px #eee, 1325px 220px #eee, 591px 262px #eee,
    788px 1993px #eee, 571px 286px #eee, 1024px 684px #eee, 1863px 688px #eee,
    1077px 314px #eee, 819px 1888px #eee, 1683px 1159px #eee, 958px 1883px #eee,
    263px 1202px #eee, 293px 607px #eee, 1599px 512px #eee, 1354px 1315px #eee,
    904px 1136px #eee, 1896px 84px #eee, 735px 1594px #eee, 395px 1195px #eee,
    879px 3px #eee, 1999px 478px #eee, 1621px 1917px #eee, 1192px 1698px #eee,
    509px 1749px #eee, 1412px 1719px #eee, 1984px 1181px #eee, 482px 55px #eee,
    945px 1826px #eee, 804px 1002px #eee, 1492px 109px #eee, 310px 436px #eee,
    31px 1433px #eee, 1342px 700px #eee, 1377px 972px #eee, 601px 1524px #eee,
    1769px 1990px #eee, 292px 124px #eee, 1108px 721px #eee, 587px 208px #eee,
    555px 1697px #eee, 102px 1832px #eee, 1554px 1124px #eee, 1273px 1246px #eee,
    922px 608px #eee, 1929px 176px #eee, 496px 1881px #eee, 1220px 1119px #eee,
    422px 1558px #eee, 1425px 1229px #eee, 440px 1578px #eee, 1448px 574px #eee,
    1217px 605px #eee, 1715px 657px #eee, 245px 1304px #eee, 1634px 1365px #eee,
    780px 1921px #eee, 1790px 912px #eee, 294px 1937px #eee, 864px 1372px #eee,
    637px 887px #eee, 1781px 88px #eee, 1301px 475px #eee, 1769px 664px #eee,
    962px 347px #eee, 1505px 370px #eee, 867px 1688px #eee, 1366px 488px #eee,
    1521px 551px #eee, 630px 216px #eee, 74px 932px #eee, 203px 609px #eee,
    1741px 194px #eee, 174px 1365px #eee, 874px 827px #eee, 875px 521px #eee,
    1032px 549px #eee, 369px 1243px #eee, 1358px 1512px #eee, 1127px 1219px #eee,
    1636px 631px #eee, 889px 1137px #eee, 995px 712px #eee, 762px 940px #eee,
    1276px 402px #eee, 539px 1733px #eee, 933px 680px #eee, 1679px 1890px #eee,
    300px 1403px #eee, 327px 1645px #eee, 235px 135px #eee, 1733px 629px #eee,
    1690px 32px #eee, 529px 157px #eee, 1204px 139px #eee, 385px 130px #eee,
    18px 59px #eee, 162px 1415px #eee, 1294px 353px #eee, 1967px 856px #eee,
    1619px 607px #eee, 993px 635px #eee, 1784px 60px #eee, 1816px 1767px #eee,
    1124px 1772px #eee, 651px 141px #eee, 1470px 1113px #eee, 796px 1357px #eee,
    981px 94px #eee, 1190px 1079px #eee, 740px 1176px #eee, 272px 1184px #eee,
    1358px 583px #eee, 1970px 1936px #eee, 1365px 279px #eee, 302px 87px #eee,
    1814px 556px #eee, 387px 905px #eee, 1489px 260px #eee, 1067px 1212px #eee,
    1589px 1938px #eee, 1301px 1012px #eee, 1836px 998px #eee,
    1470px 1854px #eee, 362px 531px #eee, 810px 1801px #eee, 8px 1853px #eee,
    201px 1162px #eee, 381px 478px #eee, 1935px 935px #eee, 1693px 111px #eee,
    227px 119px #eee, 437px 1786px #eee, 602px 1128px #eee, 1774px 922px #eee,
    1288px 1416px #eee, 1665px 384px #eee, 405px 1448px #eee, 1328px 1002px #eee,
    1501px 1440px #eee, 755px 1714px #eee, 608px 229px #eee, 260px 686px #eee,
    1452px 365px #eee, 1133px 1617px #eee, 904px 911px #eee, 1538px 892px #eee,
    391px 1395px #eee, 278px 1346px #eee, 237px 680px #eee, 234px 1153px #eee,
    1998px 339px #eee, 1589px 441px #eee, 172px 1713px #eee, 1672px 176px #eee,
    211px 1488px #eee, 1153px 207px #eee, 122px 981px #eee, 462px 311px #eee,
    251px 953px #eee, 474px 602px #eee, 1357px 792px #eee, 579px 1875px #eee,
    657px 927px #eee, 328px 14px #eee, 1660px 1787px #eee, 365px 1850px #eee,
    1294px 923px #eee, 176px 1643px #eee, 1762px 1683px #eee, 1284px 998px #eee,
    766px 1449px #eee, 1233px 1117px #eee, 1174px 824px #eee, 1744px 581px #eee,
    1009px 1469px #eee, 393px 13px #eee, 361px 564px #eee, 1589px 1652px #eee,
    610px 1112px #eee, 807px 229px #eee, 210px 1486px #eee, 304px 1256px #eee,
    572px 1518px #eee, 144px 225px #eee, 48px 1673px #eee, 1295px 1977px #eee,
    1593px 1546px #eee, 1176px 1385px #eee, 23px 735px #eee, 620px 1791px #eee,
    1883px 622px #eee, 1723px 147px #eee, 1666px 1137px #eee, 1146px 665px #eee,
    229px 1308px #eee, 1513px 30px #eee, 446px 759px #eee, 773px 1008px #eee,
    1187px 473px #eee, 159px 1250px #eee, 337px 1424px #eee, 1000px 1135px #eee,
    1676px 527px #eee, 1439px 1809px #eee, 1013px 37px #eee, 770px 1470px #eee,
    665px 1596px #eee, 1937px 999px #eee, 1220px 340px #eee, 1211px 1697px #eee,
    989px 1190px #eee, 1970px 1028px #eee, 650px 1957px #eee, 511px 479px #eee,
    1790px 1583px #eee, 613px 718px #eee, 923px 1921px #eee, 1304px 573px #eee,
    300px 1973px #eee, 880px 738px #eee, 1445px 175px #eee, 196px 844px #eee,
    1046px 69px #eee, 42px 141px #eee, 418px 787px #eee, 228px 919px #eee,
    382px 1438px #eee, 1611px 455px #eee, 120px 846px #eee, 54px 1532px #eee,
    1131px 349px #eee, 745px 386px #eee, 830px 187px #eee, 718px 2000px #eee,
    1391px 485px #eee, 1426px 1534px #eee, 1865px 310px #eee, 1758px 1297px #eee,
    223px 1372px #eee, 185px 1982px #eee, 903px 1606px #eee, 1855px 182px #eee,
    1589px 241px #eee, 610px 962px #eee, 1696px 911px #eee, 843px 342px #eee,
    1869px 101px #eee, 1668px 1873px #eee, 387px 635px #eee, 1822px 882px #eee,
    1114px 432px #eee, 323px 1569px #eee, 1079px 1865px #eee, 1203px 893px #eee,
    346px 1525px #eee, 726px 1325px #eee, 822px 879px #eee, 324px 1830px #eee,
    1021px 880px #eee, 1514px 691px #eee, 418px 1378px #eee, 1264px 863px #eee,
    159px 1013px #eee, 1362px 1714px #eee, 1741px 1901px #eee, 72px 1157px #eee,
    198px 1699px #eee, 1903px 67px #eee, 286px 1319px #eee, 1768px 428px #eee,
    884px 100px #eee, 801px 83px #eee, 1769px 1311px #eee, 338px 404px #eee,
    1530px 1px #eee, 1168px 1495px #eee, 1997px 71px #eee, 1003px 395px #eee,
    43px 781px #eee, 602px 303px #eee, 112px 571px #eee, 882px 1971px #eee,
    883px 284px #eee, 1627px 1875px #eee, 1327px 1222px #eee, 484px 946px #eee,
    393px 91px #eee, 958px 885px #eee, 76px 1722px #eee, 1483px 364px #eee,
    487px 1637px #eee, 35px 1217px #eee, 704px 559px #eee, 1059px 1402px #eee,
    1088px 231px #eee, 888px 293px #eee, 805px 1347px #eee, 834px 1158px #eee,
    891px 745px #eee, 1301px 1479px #eee, 1641px 1494px #eee, 577px 1082px #eee,
    40px 1948px #eee, 927px 744px #eee, 575px 1609px #eee, 955px 920px #eee,
    1062px 929px #eee, 1880px 123px #eee, 1509px 1318px #eee, 1561px 484px #eee,
    1895px 1934px #eee, 179px 1937px #eee, 1217px 836px #eee, 1540px 540px #eee,
    1915px 1954px #eee, 693px 1489px #eee, 1494px 483px #eee, 287px 1369px #eee,
    1161px 1977px #eee, 1324px 1426px #eee, 192px 1040px #eee, 751px 606px #eee,
    173px 1716px #eee, 1988px 1913px #eee, 1317px 638px #eee, 1677px 873px #eee,
    108px 618px #eee, 1654px 1448px #eee, 331px 970px #eee, 1848px 450px #eee,
    1870px 1493px #eee, 1771px 1463px #eee, 436px 1887px #eee,
    1267px 1037px #eee, 716px 317px #eee, 1501px 1918px #eee, 440px 485px #eee,
    485px 1292px #eee, 892px 43px #eee, 1067px 1552px #eee, 449px 1783px #eee,
    746px 1706px #eee, 1680px 702px #eee, 1084px 842px #eee, 738px 791px #eee,
    612px 1927px #eee, 1373px 1465px #eee, 1413px 1806px #eee, 333px 1841px #eee,
    988px 1570px #eee, 1349px 1205px #eee, 276px 1783px #eee, 1492px 319px #eee,
    1238px 222px #eee, 1961px 917px #eee, 484px 1284px #eee, 1975px 359px #eee,
    947px 1256px #eee, 897px 305px #eee, 336px 1671px #eee, 1620px 18px #eee,
    219px 1289px #eee, 1732px 1970px #eee, 146px 434px #eee, 1585px 1452px #eee,
    1929px 514px #eee, 367px 158px #eee, 771px 1450px #eee, 699px 719px #eee,
    344px 135px #eee, 1419px 843px #eee, 680px 1185px #eee, 1684px 918px #eee,
    1474px 511px #eee, 936px 1692px #eee, 1142px 400px #eee, 787px 1965px #eee,
    762px 1499px #eee, 1964px 794px #eee, 414px 645px #eee, 519px 1684px #eee,
    1282px 425px #eee, 1660px 367px #eee, 72px 1154px #eee, 776px 1612px #eee,
    1128px 828px #eee, 1576px 1452px #eee, 1221px 1588px #eee, 292px 1689px #eee,
    81px 652px #eee, 1306px 1244px #eee, 1797px 968px #eee, 1281px 1922px #eee,
    1915px 1229px #eee, 432px 633px #eee, 1575px 1173px #eee, 1391px 1030px #eee,
    87px 104px #eee, 669px 1581px #eee, 1129px 1586px #eee, 212px 1948px #eee,
    1954px 1341px #eee, 742px 1877px #eee, 875px 1813px #eee, 1822px 1607px #eee,
    1811px 935px #eee, 314px 1214px #eee, 559px 148px #eee, 282px 1754px #eee,
    1841px 260px #eee, 1464px 1513px #eee, 1629px 1492px #eee,
    1229px 1290px #eee, 606px 361px #eee, 1225px 603px #eee, 265px 568px #eee,
    163px 1237px #eee, 441px 1148px #eee, 1852px 583px #eee, 1263px 48px #eee,
    62px 176px #eee, 909px 479px #eee, 1673px 1095px #eee, 255px 1244px #eee,
    1716px 1718px #eee, 1636px 1787px #eee, 450px 546px #eee, 760px 1966px #eee,
    579px 131px #eee, 62px 1980px #eee, 1786px 1990px #eee, 1200px 624px #eee,
    1035px 1462px #eee, 1493px 1488px #eee, 769px 482px #eee, 283px 1552px #eee,
    1807px 1261px #eee, 1210px 1554px #eee, 308px 1139px #eee, 1752px 274px #eee,
    790px 1547px #eee, 351px 1894px #eee, 618px 1012px #eee, 1193px 1507px #eee,
    1348px 1301px #eee, 342px 387px #eee, 1731px 1309px #eee, 549px 1234px #eee,
    624px 1208px #eee, 845px 1543px #eee, 1963px 715px #eee, 1116px 931px #eee,
    1854px 1326px #eee, 1246px 684px #eee, 592px 716px #eee, 1323px 1646px #eee,
    224px 297px #eee, 399px 20px #eee, 1818px 620px #eee, 71px 37px #eee,
    1790px 637px #eee, 1607px 977px #eee, 1744px 1867px #eee, 1969px 612px #eee,
    72px 1690px #eee, 931px 1943px #eee, 388px 691px #eee, 764px 1935px #eee,
    1360px 939px #eee, 456px 540px #eee, 1565px 907px #eee, 435px 154px #eee,
    1576px 783px #eee, 397px 1110px #eee, 98px 1787px #eee, 1363px 407px #eee,
    143px 649px #eee, 1757px 691px #eee, 695px 647px #eee, 986px 998px #eee,
    1505px 1988px #eee, 1477px 1100px #eee, 44px 181px #eee, 1363px 301px #eee,
    108px 208px #eee, 1287px 23px #eee, 615px 1923px #eee, 1104px 1832px #eee,
    67px 397px #eee, 1455px 2000px #eee, 671px 241px #eee, 999px 1397px #eee,
    473px 1751px #eee, 513px 863px #eee, 417px 170px #eee, 442px 523px #eee,
    1510px 219px #eee, 1578px 1887px #eee, 34px 1552px #eee, 1023px 964px #eee,
    235px 1895px #eee, 1495px 1623px #eee, 144px 1620px #eee, 1553px 1336px #eee,
    1722px 1066px #eee, 977px 687px #eee, 1701px 1835px #eee, 433px 372px #eee,
    1931px 951px #eee, 1923px 136px #eee, 1144px 1815px #eee, 265px 757px #eee,
    1143px 167px #eee, 176px 156px #eee, 219px 1921px #eee, 1818px 554px #eee,
    1742px 1823px #eee, 1458px 868px #eee, 1994px 1188px #eee, 1873px 348px #eee,
    794px 660px #eee, 887px 79px #eee, 713px 431px #eee, 1681px 1223px #eee,
    978px 673px #eee, 1292px 1643px #eee, 1392px 115px #eee, 1269px 402px #eee;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 3px;
  background: transparent;
  box-shadow: 1212px 345px #eee, 1312px 1678px #eee, 1686px 1832px #eee,
    648px 1279px #eee, 577px 847px #eee, 278px 415px #eee, 233px 866px #eee,
    954px 1491px #eee, 627px 769px #eee, 782px 1613px #eee, 328px 1333px #eee,
    811px 1057px #eee, 716px 817px #eee, 1181px 910px #eee, 1779px 686px #eee,
    530px 339px #eee, 1486px 1840px #eee, 1819px 1029px #eee, 1951px 683px #eee,
    1924px 1827px #eee, 1647px 1019px #eee, 202px 1801px #eee, 1396px 85px #eee,
    651px 1131px #eee, 641px 1196px #eee, 1196px 1659px #eee, 1683px 480px #eee,
    1516px 1716px #eee, 1670px 161px #eee, 1371px 323px #eee, 1529px 1790px #eee,
    1740px 257px #eee, 828px 750px #eee, 706px 235px #eee, 1447px 1872px #eee,
    1448px 820px #eee, 1162px 900px #eee, 86px 1013px #eee, 319px 521px #eee,
    906px 1635px #eee, 1462px 1938px #eee, 621px 553px #eee, 1392px 1786px #eee,
    66px 1603px #eee, 1091px 1650px #eee, 262px 1807px #eee, 1840px 1209px #eee,
    1407px 142px #eee, 1407px 364px #eee, 1920px 489px #eee, 1121px 1203px #eee,
    1074px 1541px #eee, 1780px 1564px #eee, 1513px 1145px #eee, 680px 29px #eee,
    823px 1244px #eee, 1673px 1165px #eee, 810px 344px #eee, 1820px 255px #eee,
    1120px 1502px #eee, 1641px 952px #eee, 1891px 38px #eee, 946px 1544px #eee,
    1176px 1356px #eee, 18px 1220px #eee, 1719px 724px #eee, 881px 665px #eee,
    975px 1205px #eee, 14px 1642px #eee, 674px 1927px #eee, 1829px 846px #eee,
    81px 1148px #eee, 1464px 618px #eee, 576px 524px #eee, 14px 1169px #eee,
    935px 990px #eee, 1941px 288px #eee, 1010px 1434px #eee, 196px 519px #eee,
    1247px 1468px #eee, 362px 671px #eee, 120px 77px #eee, 854px 1091px #eee,
    254px 775px #eee, 1825px 1751px #eee, 707px 1305px #eee, 1458px 1561px #eee,
    1635px 1281px #eee, 969px 283px #eee, 314px 240px #eee, 1217px 141px #eee,
    1258px 584px #eee, 157px 979px #eee, 780px 44px #eee, 1956px 437px #eee,
    978px 1435px #eee, 864px 1276px #eee, 1292px 493px #eee, 67px 1460px #eee,
    145px 1482px #eee, 1748px 1611px #eee, 893px 1173px #eee, 602px 921px #eee,
    72px 613px #eee, 1802px 606px #eee, 6px 903px #eee, 1702px 183px #eee,
    1193px 1674px #eee, 181px 1720px #eee, 778px 1936px #eee, 1590px 1965px #eee,
    78px 1939px #eee, 1963px 1785px #eee, 1051px 693px #eee, 1398px 308px #eee,
    1676px 1778px #eee, 2px 646px #eee, 1285px 93px #eee, 1069px 742px #eee,
    768px 1242px #eee, 807px 1001px #eee, 720px 567px #eee, 1660px 1168px #eee,
    1179px 1599px #eee, 889px 241px #eee, 1433px 1060px #eee, 853px 1533px #eee,
    642px 1628px #eee, 1629px 958px #eee, 1350px 147px #eee, 17px 915px #eee,
    275px 1991px #eee, 361px 484px #eee, 90px 109px #eee, 1856px 663px #eee,
    1133px 1613px #eee, 898px 98px #eee, 632px 1634px #eee, 281px 254px #eee,
    1100px 1789px #eee, 561px 1567px #eee, 248px 1297px #eee, 250px 900px #eee,
    1181px 1385px #eee, 62px 1504px #eee, 873px 573px #eee, 758px 567px #eee,
    1100px 589px #eee, 1675px 1447px #eee, 1725px 1227px #eee, 11px 941px #eee,
    1817px 1145px #eee, 276px 1542px #eee, 1360px 799px #eee, 1233px 726px #eee,
    576px 486px #eee, 373px 616px #eee, 1011px 1642px #eee, 873px 406px #eee,
    1278px 758px #eee, 1261px 886px #eee, 1634px 249px #eee, 1302px 1326px #eee,
    1803px 1132px #eee, 1345px 103px #eee, 1146px 314px #eee, 1487px 421px #eee,
    700px 838px #eee, 1080px 303px #eee, 849px 107px #eee, 815px 916px #eee,
    1597px 1724px #eee, 620px 269px #eee, 1325px 220px #eee, 591px 262px #eee,
    788px 1993px #eee, 571px 286px #eee, 1024px 684px #eee, 1863px 688px #eee,
    1077px 314px #eee, 819px 1888px #eee, 1683px 1159px #eee, 958px 1883px #eee,
    263px 1202px #eee, 293px 607px #eee, 1599px 512px #eee, 1354px 1315px #eee,
    904px 1136px #eee, 1896px 84px #eee, 735px 1594px #eee, 395px 1195px #eee,
    879px 3px #eee, 1999px 478px #eee, 1621px 1917px #eee, 1192px 1698px #eee,
    509px 1749px #eee, 1412px 1719px #eee, 1984px 1181px #eee, 482px 55px #eee,
    945px 1826px #eee, 804px 1002px #eee, 1492px 109px #eee, 310px 436px #eee,
    31px 1433px #eee, 1342px 700px #eee, 1377px 972px #eee, 601px 1524px #eee,
    1769px 1990px #eee, 292px 124px #eee, 1108px 721px #eee, 587px 208px #eee,
    555px 1697px #eee, 102px 1832px #eee, 1554px 1124px #eee, 1273px 1246px #eee,
    922px 608px #eee, 1929px 176px #eee, 496px 1881px #eee, 1220px 1119px #eee,
    422px 1558px #eee, 1425px 1229px #eee, 440px 1578px #eee, 1448px 574px #eee,
    1217px 605px #eee, 1715px 657px #eee, 245px 1304px #eee, 1634px 1365px #eee,
    780px 1921px #eee, 1790px 912px #eee, 294px 1937px #eee, 864px 1372px #eee,
    637px 887px #eee, 1781px 88px #eee, 1301px 475px #eee, 1769px 664px #eee,
    962px 347px #eee, 1505px 370px #eee, 867px 1688px #eee, 1366px 488px #eee,
    1521px 551px #eee, 630px 216px #eee, 74px 932px #eee, 203px 609px #eee,
    1741px 194px #eee, 174px 1365px #eee, 874px 827px #eee, 875px 521px #eee,
    1032px 549px #eee, 369px 1243px #eee, 1358px 1512px #eee, 1127px 1219px #eee,
    1636px 631px #eee, 889px 1137px #eee, 995px 712px #eee, 762px 940px #eee,
    1276px 402px #eee, 539px 1733px #eee, 933px 680px #eee, 1679px 1890px #eee,
    300px 1403px #eee, 327px 1645px #eee, 235px 135px #eee, 1733px 629px #eee,
    1690px 32px #eee, 529px 157px #eee, 1204px 139px #eee, 385px 130px #eee,
    18px 59px #eee, 162px 1415px #eee, 1294px 353px #eee, 1967px 856px #eee,
    1619px 607px #eee, 993px 635px #eee, 1784px 60px #eee, 1816px 1767px #eee,
    1124px 1772px #eee, 651px 141px #eee, 1470px 1113px #eee, 796px 1357px #eee,
    981px 94px #eee, 1190px 1079px #eee, 740px 1176px #eee, 272px 1184px #eee,
    1358px 583px #eee, 1970px 1936px #eee, 1365px 279px #eee, 302px 87px #eee,
    1814px 556px #eee, 387px 905px #eee, 1489px 260px #eee, 1067px 1212px #eee,
    1589px 1938px #eee, 1301px 1012px #eee, 1836px 998px #eee,
    1470px 1854px #eee, 362px 531px #eee, 810px 1801px #eee, 8px 1853px #eee,
    201px 1162px #eee, 381px 478px #eee, 1935px 935px #eee, 1693px 111px #eee,
    227px 119px #eee, 437px 1786px #eee, 602px 1128px #eee, 1774px 922px #eee,
    1288px 1416px #eee, 1665px 384px #eee, 405px 1448px #eee, 1328px 1002px #eee,
    1501px 1440px #eee, 755px 1714px #eee, 608px 229px #eee, 260px 686px #eee,
    1452px 365px #eee, 1133px 1617px #eee, 904px 911px #eee, 1538px 892px #eee,
    391px 1395px #eee, 278px 1346px #eee, 237px 680px #eee, 234px 1153px #eee,
    1998px 339px #eee, 1589px 441px #eee, 172px 1713px #eee, 1672px 176px #eee,
    211px 1488px #eee, 1153px 207px #eee, 122px 981px #eee, 462px 311px #eee,
    251px 953px #eee, 474px 602px #eee, 1357px 792px #eee, 579px 1875px #eee,
    657px 927px #eee, 328px 14px #eee, 1660px 1787px #eee, 365px 1850px #eee,
    1294px 923px #eee, 176px 1643px #eee, 1762px 1683px #eee, 1284px 998px #eee,
    766px 1449px #eee, 1233px 1117px #eee, 1174px 824px #eee, 1744px 581px #eee,
    1009px 1469px #eee, 393px 13px #eee, 361px 564px #eee, 1589px 1652px #eee,
    610px 1112px #eee, 807px 229px #eee, 210px 1486px #eee, 304px 1256px #eee,
    572px 1518px #eee, 144px 225px #eee, 48px 1673px #eee, 1295px 1977px #eee,
    1593px 1546px #eee, 1176px 1385px #eee, 23px 735px #eee, 620px 1791px #eee,
    1883px 622px #eee, 1723px 147px #eee, 1666px 1137px #eee, 1146px 665px #eee,
    229px 1308px #eee, 1513px 30px #eee, 446px 759px #eee, 773px 1008px #eee,
    1187px 473px #eee, 159px 1250px #eee, 337px 1424px #eee, 1000px 1135px #eee,
    1676px 527px #eee, 1439px 1809px #eee, 1013px 37px #eee, 770px 1470px #eee,
    665px 1596px #eee, 1937px 999px #eee, 1220px 340px #eee, 1211px 1697px #eee,
    989px 1190px #eee, 1970px 1028px #eee, 650px 1957px #eee, 511px 479px #eee,
    1790px 1583px #eee, 613px 718px #eee, 923px 1921px #eee, 1304px 573px #eee,
    300px 1973px #eee, 880px 738px #eee, 1445px 175px #eee, 196px 844px #eee,
    1046px 69px #eee, 42px 141px #eee, 418px 787px #eee, 228px 919px #eee,
    382px 1438px #eee, 1611px 455px #eee, 120px 846px #eee, 54px 1532px #eee,
    1131px 349px #eee, 745px 386px #eee, 830px 187px #eee, 718px 2000px #eee,
    1391px 485px #eee, 1426px 1534px #eee, 1865px 310px #eee, 1758px 1297px #eee,
    223px 1372px #eee, 185px 1982px #eee, 903px 1606px #eee, 1855px 182px #eee,
    1589px 241px #eee, 610px 962px #eee, 1696px 911px #eee, 843px 342px #eee,
    1869px 101px #eee, 1668px 1873px #eee, 387px 635px #eee, 1822px 882px #eee,
    1114px 432px #eee, 323px 1569px #eee, 1079px 1865px #eee, 1203px 893px #eee,
    346px 1525px #eee, 726px 1325px #eee, 822px 879px #eee, 324px 1830px #eee,
    1021px 880px #eee, 1514px 691px #eee, 418px 1378px #eee, 1264px 863px #eee,
    159px 1013px #eee, 1362px 1714px #eee, 1741px 1901px #eee, 72px 1157px #eee,
    198px 1699px #eee, 1903px 67px #eee, 286px 1319px #eee, 1768px 428px #eee,
    884px 100px #eee, 801px 83px #eee, 1769px 1311px #eee, 338px 404px #eee,
    1530px 1px #eee, 1168px 1495px #eee, 1997px 71px #eee, 1003px 395px #eee,
    43px 781px #eee, 602px 303px #eee, 112px 571px #eee, 882px 1971px #eee,
    883px 284px #eee, 1627px 1875px #eee, 1327px 1222px #eee, 484px 946px #eee,
    393px 91px #eee, 958px 885px #eee, 76px 1722px #eee, 1483px 364px #eee,
    487px 1637px #eee, 35px 1217px #eee, 704px 559px #eee, 1059px 1402px #eee,
    1088px 231px #eee, 888px 293px #eee, 805px 1347px #eee, 834px 1158px #eee,
    891px 745px #eee, 1301px 1479px #eee, 1641px 1494px #eee, 577px 1082px #eee,
    40px 1948px #eee, 927px 744px #eee, 575px 1609px #eee, 955px 920px #eee,
    1062px 929px #eee, 1880px 123px #eee, 1509px 1318px #eee, 1561px 484px #eee,
    1895px 1934px #eee, 179px 1937px #eee, 1217px 836px #eee, 1540px 540px #eee,
    1915px 1954px #eee, 693px 1489px #eee, 1494px 483px #eee, 287px 1369px #eee,
    1161px 1977px #eee, 1324px 1426px #eee, 192px 1040px #eee, 751px 606px #eee,
    173px 1716px #eee, 1988px 1913px #eee, 1317px 638px #eee, 1677px 873px #eee,
    108px 618px #eee, 1654px 1448px #eee, 331px 970px #eee, 1848px 450px #eee,
    1870px 1493px #eee, 1771px 1463px #eee, 436px 1887px #eee,
    1267px 1037px #eee, 716px 317px #eee, 1501px 1918px #eee, 440px 485px #eee,
    485px 1292px #eee, 892px 43px #eee, 1067px 1552px #eee, 449px 1783px #eee,
    746px 1706px #eee, 1680px 702px #eee, 1084px 842px #eee, 738px 791px #eee,
    612px 1927px #eee, 1373px 1465px #eee, 1413px 1806px #eee, 333px 1841px #eee,
    988px 1570px #eee, 1349px 1205px #eee, 276px 1783px #eee, 1492px 319px #eee,
    1238px 222px #eee, 1961px 917px #eee, 484px 1284px #eee, 1975px 359px #eee,
    947px 1256px #eee, 897px 305px #eee, 336px 1671px #eee, 1620px 18px #eee,
    219px 1289px #eee, 1732px 1970px #eee, 146px 434px #eee, 1585px 1452px #eee,
    1929px 514px #eee, 367px 158px #eee, 771px 1450px #eee, 699px 719px #eee,
    344px 135px #eee, 1419px 843px #eee, 680px 1185px #eee, 1684px 918px #eee,
    1474px 511px #eee, 936px 1692px #eee, 1142px 400px #eee, 787px 1965px #eee,
    762px 1499px #eee, 1964px 794px #eee, 414px 645px #eee, 519px 1684px #eee,
    1282px 425px #eee, 1660px 367px #eee, 72px 1154px #eee, 776px 1612px #eee,
    1128px 828px #eee, 1576px 1452px #eee, 1221px 1588px #eee, 292px 1689px #eee,
    81px 652px #eee, 1306px 1244px #eee, 1797px 968px #eee, 1281px 1922px #eee,
    1915px 1229px #eee, 432px 633px #eee, 1575px 1173px #eee, 1391px 1030px #eee,
    87px 104px #eee, 669px 1581px #eee, 1129px 1586px #eee, 212px 1948px #eee,
    1954px 1341px #eee, 742px 1877px #eee, 875px 1813px #eee, 1822px 1607px #eee,
    1811px 935px #eee, 314px 1214px #eee, 559px 148px #eee, 282px 1754px #eee,
    1841px 260px #eee, 1464px 1513px #eee, 1629px 1492px #eee,
    1229px 1290px #eee, 606px 361px #eee, 1225px 603px #eee, 265px 568px #eee,
    163px 1237px #eee, 441px 1148px #eee, 1852px 583px #eee, 1263px 48px #eee,
    62px 176px #eee, 909px 479px #eee, 1673px 1095px #eee, 255px 1244px #eee,
    1716px 1718px #eee, 1636px 1787px #eee, 450px 546px #eee, 760px 1966px #eee,
    579px 131px #eee, 62px 1980px #eee, 1786px 1990px #eee, 1200px 624px #eee,
    1035px 1462px #eee, 1493px 1488px #eee, 769px 482px #eee, 283px 1552px #eee,
    1807px 1261px #eee, 1210px 1554px #eee, 308px 1139px #eee, 1752px 274px #eee,
    790px 1547px #eee, 351px 1894px #eee, 618px 1012px #eee, 1193px 1507px #eee,
    1348px 1301px #eee, 342px 387px #eee, 1731px 1309px #eee, 549px 1234px #eee,
    624px 1208px #eee, 845px 1543px #eee, 1963px 715px #eee, 1116px 931px #eee,
    1854px 1326px #eee, 1246px 684px #eee, 592px 716px #eee, 1323px 1646px #eee,
    224px 297px #eee, 399px 20px #eee, 1818px 620px #eee, 71px 37px #eee,
    1790px 637px #eee, 1607px 977px #eee, 1744px 1867px #eee, 1969px 612px #eee,
    72px 1690px #eee, 931px 1943px #eee, 388px 691px #eee, 764px 1935px #eee,
    1360px 939px #eee, 456px 540px #eee, 1565px 907px #eee, 435px 154px #eee,
    1576px 783px #eee, 397px 1110px #eee, 98px 1787px #eee, 1363px 407px #eee,
    143px 649px #eee, 1757px 691px #eee, 695px 647px #eee, 986px 998px #eee,
    1505px 1988px #eee, 1477px 1100px #eee, 44px 181px #eee, 1363px 301px #eee,
    108px 208px #eee, 1287px 23px #eee, 615px 1923px #eee, 1104px 1832px #eee,
    67px 397px #eee, 1455px 2000px #eee, 671px 241px #eee, 999px 1397px #eee,
    473px 1751px #eee, 513px 863px #eee, 417px 170px #eee, 442px 523px #eee,
    1510px 219px #eee, 1578px 1887px #eee, 34px 1552px #eee, 1023px 964px #eee,
    235px 1895px #eee, 1495px 1623px #eee, 144px 1620px #eee, 1553px 1336px #eee,
    1722px 1066px #eee, 977px 687px #eee, 1701px 1835px #eee, 433px 372px #eee,
    1931px 951px #eee, 1923px 136px #eee, 1144px 1815px #eee, 265px 757px #eee,
    1143px 167px #eee, 176px 156px #eee, 219px 1921px #eee, 1818px 554px #eee,
    1742px 1823px #eee, 1458px 868px #eee, 1994px 1188px #eee, 1873px 348px #eee,
    794px 660px #eee, 887px 79px #eee, 713px 431px #eee, 1681px 1223px #eee,
    978px 673px #eee, 1292px 1643px #eee, 1392px 115px #eee, 1269px 402px #eee;
}

#stars2 {
  width: 2px;
  height: 6px;
  background: transparent;
  box-shadow: 696px 1423px #eee, 959px 654px #eee, 1530px 643px #eee,
    495px 1260px #eee, 1854px 218px #eee, 1087px 1243px #eee, 1956px 1208px #eee,
    462px 850px #eee, 314px 156px #eee, 575px 1643px #eee, 104px 435px #eee,
    525px 1822px #eee, 466px 76px #eee, 639px 1758px #eee, 880px 1967px #eee,
    379px 1905px #eee, 1397px 1562px #eee, 468px 1014px #eee, 1072px 579px #eee,
    1148px 162px #eee, 1035px 442px #eee, 1704px 1063px #eee, 563px 1403px #eee,
    793px 1410px #eee, 1124px 1313px #eee, 1805px 1391px #eee, 634px 1451px #eee,
    759px 801px #eee, 197px 310px #eee, 626px 803px #eee, 623px 1085px #eee,
    1126px 834px #eee, 385px 863px #eee, 235px 1141px #eee, 845px 168px #eee,
    319px 345px #eee, 1465px 951px #eee, 709px 230px #eee, 1955px 1159px #eee,
    1609px 1877px #eee, 190px 1109px #eee, 82px 1164px #eee, 39px 469px #eee,
    1189px 1390px #eee, 683px 1717px #eee, 934px 1418px #eee, 1519px 141px #eee,
    838px 935px #eee, 902px 1100px #eee, 483px 1825px #eee, 1510px 1657px #eee,
    1047px 845px #eee, 1472px 1760px #eee, 851px 1605px #eee, 150px 1981px #eee,
    690px 1115px #eee, 1887px 1288px #eee, 547px 340px #eee, 990px 838px #eee,
    1234px 82px #eee, 1236px 1976px #eee, 1468px 368px #eee, 321px 1733px #eee,
    1671px 529px #eee, 153px 1247px #eee, 1068px 853px #eee, 193px 1227px #eee,
    139px 521px #eee, 1938px 119px #eee, 978px 466px #eee, 21px 1825px #eee,
    890px 1125px #eee, 1478px 1401px #eee, 1269px 512px #eee, 776px 403px #eee,
    1630px 1006px #eee, 1228px 225px #eee, 651px 110px #eee, 1876px 34px #eee,
    1672px 1134px #eee, 1192px 587px #eee, 716px 1230px #eee, 1041px 684px #eee,
    427px 1891px #eee, 376px 248px #eee, 1050px 1133px #eee, 669px 1909px #eee,
    1011px 1763px #eee, 1658px 1054px #eee, 1440px 322px #eee, 732px 400px #eee,
    1987px 1648px #eee, 391px 885px #eee, 906px 634px #eee, 170px 1565px #eee,
    1207px 813px #eee, 710px 953px #eee, 656px 978px #eee, 707px 866px #eee,
    1355px 1185px #eee, 756px 244px #eee, 1880px 644px #eee, 1416px 1021px #eee,
    1550px 1457px #eee, 1963px 1986px #eee, 1452px 510px #eee, 1376px 123px #eee,
    1031px 123px #eee, 1016px 277px #eee, 1275px 232px #eee, 1098px 712px #eee,
    123px 399px #eee, 1170px 1386px #eee, 1477px 678px #eee, 418px 141px #eee,
    1826px 853px #eee, 484px 288px #eee, 214px 492px #eee, 1060px 464px #eee,
    395px 33px #eee, 1331px 674px #eee, 1759px 780px #eee, 633px 601px #eee,
    1835px 1475px #eee, 1887px 1356px #eee, 400px 301px #eee, 1927px 1239px #eee,
    1153px 1938px #eee, 1538px 791px #eee, 1550px 1030px #eee, 721px 1449px #eee,
    1736px 31px #eee, 822px 1135px #eee, 1484px 1434px #eee, 1374px 1493px #eee,
    1721px 12px #eee, 379px 92px #eee, 498px 942px #eee, 1111px 389px #eee,
    1807px 1051px #eee, 349px 1534px #eee, 144px 873px #eee, 1207px 1030px #eee,
    1342px 1022px #eee, 898px 836px #eee, 1774px 1990px #eee, 1680px 1520px #eee,
    351px 1352px #eee, 594px 1698px #eee, 242px 857px #eee, 800px 1097px #eee,
    1416px 1628px #eee, 865px 1995px #eee, 667px 87px #eee, 1608px 940px #eee,
    721px 1339px #eee, 1662px 1074px #eee, 1751px 682px #eee, 1860px 1249px #eee,
    1407px 219px #eee, 1487px 1308px #eee, 516px 244px #eee, 649px 1695px #eee,
    924px 91px #eee, 1123px 713px #eee, 1412px 1051px #eee, 1022px 808px #eee,
    565px 411px #eee, 388px 1682px #eee, 1369px 709px #eee, 1396px 891px #eee,
    269px 1029px #eee, 1676px 1326px #eee, 505px 786px #eee, 1814px 824px #eee,
    1058px 1817px #eee, 1643px 1610px #eee, 1254px 1275px #eee,
    1102px 1281px #eee, 1204px 884px #eee, 1910px 331px #eee, 1277px 703px #eee,
    390px 1162px #eee, 692px 834px #eee, 124px 767px #eee, 291px 375px #eee,
    1866px 1418px #eee, 731px 512px #eee, 1102px 1046px #eee, 851px 815px #eee,
    868px 1006px #eee, 1169px 1537px #eee, 1659px 1215px #eee,
    1247px 1955px #eee, 199px 1998px #eee, 482px 579px #eee, 909px 1139px #eee,
    252px 194px #eee, 1679px 1733px #eee, 1452px 291px #eee;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 6px;
  background: transparent;
  box-shadow: 696px 1423px #eee, 959px 654px #eee, 1530px 643px #eee,
    495px 1260px #eee, 1854px 218px #eee, 1087px 1243px #eee, 1956px 1208px #eee,
    462px 850px #eee, 314px 156px #eee, 575px 1643px #eee, 104px 435px #eee,
    525px 1822px #eee, 466px 76px #eee, 639px 1758px #eee, 880px 1967px #eee,
    379px 1905px #eee, 1397px 1562px #eee, 468px 1014px #eee, 1072px 579px #eee,
    1148px 162px #eee, 1035px 442px #eee, 1704px 1063px #eee, 563px 1403px #eee,
    793px 1410px #eee, 1124px 1313px #eee, 1805px 1391px #eee, 634px 1451px #eee,
    759px 801px #eee, 197px 310px #eee, 626px 803px #eee, 623px 1085px #eee,
    1126px 834px #eee, 385px 863px #eee, 235px 1141px #eee, 845px 168px #eee,
    319px 345px #eee, 1465px 951px #eee, 709px 230px #eee, 1955px 1159px #eee,
    1609px 1877px #eee, 190px 1109px #eee, 82px 1164px #eee, 39px 469px #eee,
    1189px 1390px #eee, 683px 1717px #eee, 934px 1418px #eee, 1519px 141px #eee,
    838px 935px #eee, 902px 1100px #eee, 483px 1825px #eee, 1510px 1657px #eee,
    1047px 845px #eee, 1472px 1760px #eee, 851px 1605px #eee, 150px 1981px #eee,
    690px 1115px #eee, 1887px 1288px #eee, 547px 340px #eee, 990px 838px #eee,
    1234px 82px #eee, 1236px 1976px #eee, 1468px 368px #eee, 321px 1733px #eee,
    1671px 529px #eee, 153px 1247px #eee, 1068px 853px #eee, 193px 1227px #eee,
    139px 521px #eee, 1938px 119px #eee, 978px 466px #eee, 21px 1825px #eee,
    890px 1125px #eee, 1478px 1401px #eee, 1269px 512px #eee, 776px 403px #eee,
    1630px 1006px #eee, 1228px 225px #eee, 651px 110px #eee, 1876px 34px #eee,
    1672px 1134px #eee, 1192px 587px #eee, 716px 1230px #eee, 1041px 684px #eee,
    427px 1891px #eee, 376px 248px #eee, 1050px 1133px #eee, 669px 1909px #eee,
    1011px 1763px #eee, 1658px 1054px #eee, 1440px 322px #eee, 732px 400px #eee,
    1987px 1648px #eee, 391px 885px #eee, 906px 634px #eee, 170px 1565px #eee,
    1207px 813px #eee, 710px 953px #eee, 656px 978px #eee, 707px 866px #eee,
    1355px 1185px #eee, 756px 244px #eee, 1880px 644px #eee, 1416px 1021px #eee,
    1550px 1457px #eee, 1963px 1986px #eee, 1452px 510px #eee, 1376px 123px #eee,
    1031px 123px #eee, 1016px 277px #eee, 1275px 232px #eee, 1098px 712px #eee,
    123px 399px #eee, 1170px 1386px #eee, 1477px 678px #eee, 418px 141px #eee,
    1826px 853px #eee, 484px 288px #eee, 214px 492px #eee, 1060px 464px #eee,
    395px 33px #eee, 1331px 674px #eee, 1759px 780px #eee, 633px 601px #eee,
    1835px 1475px #eee, 1887px 1356px #eee, 400px 301px #eee, 1927px 1239px #eee,
    1153px 1938px #eee, 1538px 791px #eee, 1550px 1030px #eee, 721px 1449px #eee,
    1736px 31px #eee, 822px 1135px #eee, 1484px 1434px #eee, 1374px 1493px #eee,
    1721px 12px #eee, 379px 92px #eee, 498px 942px #eee, 1111px 389px #eee,
    1807px 1051px #eee, 349px 1534px #eee, 144px 873px #eee, 1207px 1030px #eee,
    1342px 1022px #eee, 898px 836px #eee, 1774px 1990px #eee, 1680px 1520px #eee,
    351px 1352px #eee, 594px 1698px #eee, 242px 857px #eee, 800px 1097px #eee,
    1416px 1628px #eee, 865px 1995px #eee, 667px 87px #eee, 1608px 940px #eee,
    721px 1339px #eee, 1662px 1074px #eee, 1751px 682px #eee, 1860px 1249px #eee,
    1407px 219px #eee, 1487px 1308px #eee, 516px 244px #eee, 649px 1695px #eee,
    924px 91px #eee, 1123px 713px #eee, 1412px 1051px #eee, 1022px 808px #eee,
    565px 411px #eee, 388px 1682px #eee, 1369px 709px #eee, 1396px 891px #eee,
    269px 1029px #eee, 1676px 1326px #eee, 505px 786px #eee, 1814px 824px #eee,
    1058px 1817px #eee, 1643px 1610px #eee, 1254px 1275px #eee,
    1102px 1281px #eee, 1204px 884px #eee, 1910px 331px #eee, 1277px 703px #eee,
    390px 1162px #eee, 692px 834px #eee, 124px 767px #eee, 291px 375px #eee,
    1866px 1418px #eee, 731px 512px #eee, 1102px 1046px #eee, 851px 815px #eee,
    868px 1006px #eee, 1169px 1537px #eee, 1659px 1215px #eee,
    1247px 1955px #eee, 199px 1998px #eee, 482px 579px #eee, 909px 1139px #eee,
    252px 194px #eee, 1679px 1733px #eee, 1452px 291px #eee;
}

#stars3 {
  width: 3px;
  height: 9px;
  background: transparent;
  box-shadow: 1549px 1683px #eee, 1493px 1218px #eee, 842px 501px #eee,
    1552px 1588px #eee, 1902px 62px #eee, 237px 226px #eee, 631px 94px #eee,
    1791px 954px #eee, 299px 112px #eee, 807px 1123px #eee, 219px 691px #eee,
    1216px 1268px #eee, 1701px 1430px #eee, 1112px 909px #eee, 662px 945px #eee,
    1436px 221px #eee, 1169px 1377px #eee, 1180px 920px #eee, 925px 1575px #eee,
    277px 391px #eee, 1541px 937px #eee, 1411px 176px #eee, 1029px 304px #eee,
    1854px 1144px #eee, 397px 494px #eee, 1750px 504px #eee, 1059px 1168px #eee,
    58px 1962px #eee, 1223px 1628px #eee, 162px 1565px #eee, 1263px 269px #eee,
    1484px 1581px #eee, 973px 1443px #eee, 287px 117px #eee, 535px 425px #eee,
    940px 1291px #eee, 1398px 306px #eee, 291px 451px #eee, 742px 418px #eee,
    1672px 306px #eee, 916px 721px #eee, 585px 882px #eee, 1279px 652px #eee,
    1674px 150px #eee, 1648px 1909px #eee, 1660px 104px #eee, 1661px 1944px #eee,
    1468px 233px #eee, 633px 795px #eee, 827px 1442px #eee, 1755px 900px #eee,
    1613px 1096px #eee, 389px 1965px #eee, 1494px 1221px #eee,
    1258px 1804px #eee, 135px 319px #eee, 1034px 1044px #eee, 193px 1706px #eee,
    1969px 775px #eee, 1987px 954px #eee, 1154px 1303px #eee, 1262px 786px #eee,
    354px 1911px #eee, 1850px 750px #eee, 1881px 1749px #eee, 1891px 239px #eee,
    258px 621px #eee, 1725px 1985px #eee, 1067px 740px #eee, 878px 1058px #eee,
    1904px 1876px #eee, 373px 1133px #eee, 1757px 1583px #eee, 589px 1712px #eee,
    1056px 199px #eee, 1821px 125px #eee, 26px 838px #eee, 356px 226px #eee,
    574px 1354px #eee, 1057px 876px #eee, 764px 248px #eee, 1079px 1437px #eee,
    1151px 1209px #eee, 1424px 1990px #eee, 362px 49px #eee, 1999px 50px #eee,
    934px 1278px #eee, 713px 561px #eee, 1935px 510px #eee, 974px 739px #eee,
    1968px 1199px #eee, 106px 938px #eee, 1663px 1126px #eee, 660px 1624px #eee,
    517px 1837px #eee, 713px 1110px #eee, 776px 1374px #eee, 1857px 86px #eee,
    1816px 1951px #eee, 662px 1088px #eee;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 9px;
  background: transparent;
  box-shadow: 1549px 1683px #eee, 1493px 1218px #eee, 842px 501px #eee,
    1552px 1588px #eee, 1902px 62px #eee, 237px 226px #eee, 631px 94px #eee,
    1791px 954px #eee, 299px 112px #eee, 807px 1123px #eee, 219px 691px #eee,
    1216px 1268px #eee, 1701px 1430px #eee, 1112px 909px #eee, 662px 945px #eee,
    1436px 221px #eee, 1169px 1377px #eee, 1180px 920px #eee, 925px 1575px #eee,
    277px 391px #eee, 1541px 937px #eee, 1411px 176px #eee, 1029px 304px #eee,
    1854px 1144px #eee, 397px 494px #eee, 1750px 504px #eee, 1059px 1168px #eee,
    58px 1962px #eee, 1223px 1628px #eee, 162px 1565px #eee, 1263px 269px #eee,
    1484px 1581px #eee, 973px 1443px #eee, 287px 117px #eee, 535px 425px #eee,
    940px 1291px #eee, 1398px 306px #eee, 291px 451px #eee, 742px 418px #eee,
    1672px 306px #eee, 916px 721px #eee, 585px 882px #eee, 1279px 652px #eee,
    1674px 150px #eee, 1648px 1909px #eee, 1660px 104px #eee, 1661px 1944px #eee,
    1468px 233px #eee, 633px 795px #eee, 827px 1442px #eee, 1755px 900px #eee,
    1613px 1096px #eee, 389px 1965px #eee, 1494px 1221px #eee,
    1258px 1804px #eee, 135px 319px #eee, 1034px 1044px #eee, 193px 1706px #eee,
    1969px 775px #eee, 1987px 954px #eee, 1154px 1303px #eee, 1262px 786px #eee,
    354px 1911px #eee, 1850px 750px #eee, 1881px 1749px #eee, 1891px 239px #eee,
    258px 621px #eee, 1725px 1985px #eee, 1067px 740px #eee, 878px 1058px #eee,
    1904px 1876px #eee, 373px 1133px #eee, 1757px 1583px #eee, 589px 1712px #eee,
    1056px 199px #eee, 1821px 125px #eee, 26px 838px #eee, 356px 226px #eee,
    574px 1354px #eee, 1057px 876px #eee, 764px 248px #eee, 1079px 1437px #eee,
    1151px 1209px #eee, 1424px 1990px #eee, 362px 49px #eee, 1999px 50px #eee,
    934px 1278px #eee, 713px 561px #eee, 1935px 510px #eee, 974px 739px #eee,
    1968px 1199px #eee, 106px 938px #eee, 1663px 1126px #eee, 660px 1624px #eee,
    517px 1837px #eee, 713px 1110px #eee, 776px 1374px #eee, 1857px 86px #eee,
    1816px 1951px #eee, 662px 1088px #eee;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.overflow{
  overflow: hidden;
}
