.login {
	height: 100vh;
	background: #475d62;
	background-size: cover;
	position: relative;
}

.login form {
	max-width: 500px;
	width: 90%;
	background-color: #1e2833;
	padding: 40px;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login .icon {
	text-align: center;
	padding: 15px 0 20px;
	font-size: 100px;
	color: #2980ef;
}

.login form .form-control {
	background: none;
	border: none;
	border-bottom: 1px solid #434a52;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
}

.login form .btn-primary {
	background: #214a80;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 26px;
	text-shadow: none;
	outline: none;
}

.login form .btn-primary:hover,
.login form .btn-primary:active {
	background: #214a80;
	outline: none;
}
#loader {
	position: absolute;
	top: 45vh;
	left: 45vw;
	z-index: 100;
}
.login form .forgot,
.login form .newuser {
	display: block;
	text-align: center;
	font-size: 20px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

.login form .forgot:hover,
.login form .forgot:active {
	opacity: 1;
	text-decoration: none;
}

.login form .btn-primary:active {
	transform: translateY(1px);
}
