body {
  overflow-x: hidden;
}
.css-bg {
  background: linear-gradient(-45deg, #fff, #bbbbbb, #eee, #555);
  background-size: 400% 150%;
  animation: gradient 15s ease infinite;
  color: #222 !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.row-content {
  padding: 50px 0px 50px 0px;
  min-height: 200px;
  border-bottom: 2px ridge;
  margin: auto;
}

.footer {
  margin-top: 10px;
  margin: auto;
  background-color: #5b4b87;
  padding-left: 30dp;
}

.gap {
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;
}

.hackathon {
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.imgoutline {
  border-radius: 2px ridge;
  background-color: #e8ecec;
  height: 300px;
  width: 300px;
}

.background {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/3575827/pexels-photo-3575827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.media {
  background-color: rgba(15, 15, 15, 0.7);
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.back {
  background-color: #39274b;
}

.sectorback {
  background-color: #39274b;
  vertical-align: middle;
}

.sectorimage {
  background-image: url(img/img5.jpeg);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .media {
    display: block !important;
  }
  .mobi-fit {
    width: 100%;
    height: 100;
  }
  .align-self-start {
    text-align: center;
  }
  .media-body > h3 {
    text-align: center;
  }
}
