.row-content{
    padding: 50px 0px 50px 0px;
    min-height: 200px;
    border-bottom: 2px ridge;
    margin: auto;
    
 } 
 

 .footer{
     margin-top: 10px;
     margin: auto;
     background-color: #5b4b87;
     padding-left: 30dp;
     
 }
 

 .gap{
     margin: auto;
     padding-left: 10px;
     padding-top: 10px;
 }

 .hackathon{
     margin-top: 30px;
     padding-left: 5px;
     padding-right: 5px;
 }

 .imgoutline{
     border-radius: 2px ridge;
     background-color:#E8ECEC;
     height: 300px;
     width: 300px;  
 }
 
 .background{
     /* The image used */
  background-image: url("https://images.pexels.com/photos/3575827/pexels-photo-3575827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .media{
    background-color: rgba(15, 15, 15, 0.7);
  }

  

  

 